
                    <div class='container'>
                <table> <tr>
<td>'1'</td> <td>'2'</td> <td>'3'</td> </tr>
</table> x <br> s. a. <table><tr>
<td>1</td> <td>2</td> <td>3</td> </tr>
<tr>
<td>5</td> <td>6</td> <td>7</td> </tr>
<tr>
<td>9</td> <td>10</td> <td>11</td> </tr>
<tr>
<td>13</td> <td>14</td> <td>15</td> </tr>
</table> x = <table><tr>
<td>'4'</td> </tr>
<tr>
<td>'8'</td> </tr>
<tr>
<td>'12'</td> </tr>
<tr>
<td>'16'</td> </tr>
</table><p>Problema não tem base, vamos para a fase 1.</p><p>Iniciando a fase 1.</p> <table><tr>
<td>1.</td> <td>2.</td> <td>3.</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>4.</td> </tr>
<tr>
<td>5.</td> <td>6.</td> <td>7.</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>8.</td> </tr>
<tr>
<td>9.</td> <td>10.</td> <td>11.</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>12.</td> </tr>
<tr>
<td>13.</td> <td>14.</td> <td>15.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>16.</td> </tr>
<tr>
<td>0.</td> <td>0.</td> <td>0.</td> <td>-1.</td> <td>-1.</td> <td>-1.</td> <td>-1.</td> <td>0.</td> </tr>
</table><p>Pivotando nas variáveis artificiais.</p> <table><tr>
<td>1.</td> <td>2.</td> <td>3.</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>4.</td> </tr>
<tr>
<td>5.</td> <td>6.</td> <td>7.</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>8.</td> </tr>
<tr>
<td>9.</td> <td>10.</td> <td>11.</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>12.</td> </tr>
<tr>
<td>13.</td> <td>14.</td> <td>15.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>16.</td> </tr>
<tr>
<td>28.</td> <td>32.</td> <td>36.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>40.</td> </tr>
</table><p>Pivotando na linha 4 e coluna 3.</p> <table><tr>
<td>-1.6</td> <td>-0.8</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>-0.2</td> <td>0.8</td> </tr>
<tr>
<td>-1.067</td> <td>-0.533</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>0.</td> <td>-0.467</td> <td>0.533</td> </tr>
<tr>
<td>-0.533</td> <td>-0.267</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>1.</td> <td>-0.733</td> <td>0.267</td> </tr>
<tr>
<td>0.867</td> <td>0.933</td> <td>1.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>0.067</td> <td>1.067</td> </tr>
<tr>
<td>-3.2</td> <td>-1.6</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>0.</td> <td>-2.4</td> <td>1.6</td> </tr>
</table><p>O conjunto viável é vazio.</p>
                    </div>
                